//Colors 
$red:#f32501;
$darkmode_color:#32322C;
$teal:#528c83;
$green:#bdef53;
$oranje: #CB793A;
$blue:#6E899D;
$cyan:#2d424a;  
$alerts:#36393B;
$bg-1:#333333;
//Fonts 
$tittle:'Merienda', cursive;
$body:'Rokkitt', serif;