.container-error{
    transition: all 0.1s ease-in;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.5);
    .error{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        background-color: $alerts;
        border-radius: 1rem;
        max-width: 40rem;
        @include phone(){
            max-width: 50rem;
        }
        padding: 4rem;
        p{
            color: white;
        }
        svg{
            height: 3rem;
            width: 3rem;
            filter: invert(0);
        }
        .header_error{
            font-size: 3rem;
            font-weight: 700;
            color: white;
        }
        .body_error{
            display: flex;
            gap: 1rem;
            align-items: center;
            p{
                font-size: 2rem;
            }
        }
        .footer_error{
            cursor: pointer;
            display: inline-block;
            background-color: $blue;
            padding: 1rem 3rem;
            border-radius: 1rem;
            text-align: center;
        }
        .container_svg{
            height: 3rem;
            width: 3rem;
        }
    }
    .spinner{
        border-radius: 1rem;
        max-width: 50rem;
        padding: 4rem;
    }
}