.formSignIn,.formSignUp,.formReservation{
    
    input{
        border: 0;
        background-color: unset;
        outline: none;
        padding: 0;
    }

    input{
        padding: 1rem 2rem;
        color: black;
        background-color: white;

    }

}
